.topo{
    text-align:center;
    background-color:darkgreen;
    color:white;
    width:99%;
    height:100px;
    padding-top:20px;
}
.conteudo{
    text-align:center;
    display:flex;
    width:99%;
    height:800px;
    padding-left:1%;

}
.col1{
    margin-top:15px;
    border: 2px solid black;
    border-radius: 25px;
    margin-left:20px;
    width:28%;
    height:250px;
}
.col2{
    width:40%;
}
.col3{
    margin-top:15px;
    border: 2px solid black;
    border-radius: 25px;
    width:28%;
    height:250px;
}
