<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="topo">
        <h1>Reunião com Chico da Computação</h1>
    </div>

    <div class="conteudo">
        <p>Hoje nosso amigo francisco vieira veio até o ifpb para conversar com a
        gente</p>
    </div>
    <div class="conteudo2">
        <a>Hoje nosso amigo francisco vieira veio até o ifpb para conversar com a
        gente</a>
    </div>
    <div class="conteudo3">
        <a>Hoje nosso amigo francisco vieira veio até o ifpb para conversar com a
        gente</a>
    </div>




</body>
</html>