<!DOCTYPE html>
<html lang="pt-br">
<!-- comentário nao é lido pelo navegador -->

    <head>
        <meta charset="utf-8">
        <title>Minha pagina pessoal - rene, padrinho do 3 ano</title>
    </head>
    <body>
        <img width="300px" height="150px" src="../static/imagens/amar.png">
        <img width="300px" height="150px" src="../static/imagens/imagem.png">
        <h1>Diário de uma quarta-feira especial</h1>
        <h2>quase me matam do coração</h2>
        <p>Eles fizeram uma surpresa e eu ainda estou em choque</p>
        <a>Eu estou bastante emocionando pois eles fizeram uma maravilhosa surpresa</a>
        <br><br>
        <a>rene de sousa</a>
        <br>
        <a href="https://www.ifpb.edu.br/">Clique aqui para mais informações sobre o IFPB</a>
        <br>
        <input type="text">
        <br>

        <img width="300px" height="200px" src="https://www.estadao.com.br/resizer/v2/NNK3F3DSAFFUVMVXDJN76EX2YI.jpg?quality=80&auth=3736018613a75c3ac8abfd51172f49f194472f5c69691f0fabb74e3e9ed98104&width=1200">
    </body>
</html>