<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3rão 2024.1</title>
    <link rel="stylesheet" href="../static/css/arthur.css">
</head>
<body>
    <p>{{mensagem}}</p>
    <div class="formulario">
        <form action="/cadastrar" method="post">
            <label>Nome:</label><br>
            <input type="text" name="nome"><br>
            <label>usuario:</label><br>
            <input type="text" name="loginusuario"><br>
            <label>senha:</label><br>
            <input type="password" name="senhausuario"><br>
            <button type="submit">entrar</button>
        </form>
    </div>
</body>
</html>