<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/suap.css">
</head>
<body>
    <div class="formulario">
        <img width="150px" height="80px"  src="../static/imagens/suap.png">
        <br><br><br>
        <label>Usuário:</label><br>
        <input type="text"><br><br>
        <label>Senha:</label><br>
        <input type="password"><br><br>
        <button type="submit">Acessar</button><br><br>
        <a class="meulink" href="https://www.ifpb.edu.br">Esqueceu ou deseja alterar sua senha?</a>
    </div>
</body>
</html>